MARIADB_AUTO_UPGRADE=true
MARIADB_ROOT_HOST=localhost
MARIADB_MYSQL_LOCALHOST_USER=true

MARIADB_ROOT_PASSWORD="mariadb"

MARIADB_DATABASE="privatebin"
MARIADB_USER="privatebin"
MARIADB_PASSWORD="privatebin"
